/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: 50px 0;
    min-height: 100vh;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* Section styling */

.projects{
    color:#fff;
    background: #111;
    font-family: 'Poppins', sans-serif;
}

.projects .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.projects .title::before{
    background: #fff;
}

.projects .title::after{
    background: #111;
    content: "What I did";
}

.projects .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 50px;
}

.projects .serv-content .card .box{
    transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box{
    transform: scale(1.05);
}

.projects .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.projects .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .serv-content .card .info{
    text-align: justify;
}

.projects .serv-content .box .Bahubali{
    color: crimson;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.projects .serv-content .card .box .git{
    margin-top: 20px;
    font-size: 30px;
}

.projects .serv-content .card .box .git:hover{
    color:#000;
}

.projects .serv-content .card .box .live{
    height: 50px;
    width: 100px;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10%;
}

.projects .serv-content .card .box .live:hover{
    color: crimson;
    background: transparent;
}

.projects .serv-content .card .box .watch,.projects .serv-content .card .box .home{
    font-size: 25px;
}

.projects .serv-content .one{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/swasth.gif) center;
    background-size: cover;
    color: #000;
}

.projects .serv-content .two{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/aidzee.gif) center;
    background-size: cover;
    color: #000;
}

.projects .serv-content .three{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/bust.gif) center;
    background-size: cover;
    color: #000;
}

.projects .serv-content .four{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/bahubali.gif) center;
    background-size: cover;
    color: #000;
}

.projects .serv-content .five{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/me.gif) center;
    background-size: cover;
    color: #000;
    padding: 2.5%;
}

.projects .serv-content .six{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/tic-tac-toe.gif) center;
    background-size: cover;
    color: #000;
    padding: 3.5%;
}

.projects .serv-content .seven{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/emoji.gif) center;
    background-size: cover;
    color: #000;
    padding: 4%;
}

.projects .serv-content .eight{
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(../img/more.gif) center;
    background-size: cover;
    color: #000;
    padding: 5%;
}

.emoji{
    font-size: 50px;
}

.projects .serv-content .card .box a:hover{
    text-decoration: underline;
    color: crimson;
}

@media screen and (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .projects .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .projects .serv-content .card{
        width: 100%;
    }
}