<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../static/css/projectstyle.css">
    <link rel="icon" href="../static/icon/A.png">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <section class="projects">
        <div class="max-width">
            <h2 class="title">
                My Projects
            </h2>
            <div class="serv-content">
                <div class="card one">
                    <div class="box">
                        <i class="fas fa-laptop-medical"></i>
                        <div class="text">
                            Swasth AIO
                        </div>
                        <p class="info">
                            We created a user-friendly portal which is 100% transparent and all your medical issues
                            solved in a <span style="font-weight: 700;">"Single Trusted"</span>
                            website.
                        </p>
                        <button class="live"><a href="https://swasthaio.netlify.app/" target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/SwasthAIO" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card two">
                    <div class="box">
                        <i class="fas fa-first-aid"></i>
                        <div class="text">
                            Aidzee
                        </div>
                        <p class="info">
                            We bring everyone around you closer, virtually by creating a place where anyone can post
                            about anything, and people around you will <span style="font-weight: 700;"> "CONNECT".
                            </span>
                        </p>
                        <button class="live"><a href="https://aidzee.netlify.app/" target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/AidZee" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card three">
                    <div class="box">
                        <i class="fas fa-newspaper"></i>
                        <div class="text">
                            Bust News
                        </div>
                        <p class="info">
                            This is a website created to bust the fake news. You just have to paste URL of that news and
                            within few minutes you will whether it is <span
                                style="color: green; font-weight: 700;">TRUE</span> or <span
                                style="color: red; font-weight: 700;">FAKE.</span>
                        </p>
                        <button class="live"><a href="http://bustnews.herokuapp.com/" target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/Fake-News-Detection" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card four">
                    <div class="box">
                        <i class="fas fa-comment-dots"></i>
                        <div class="text">
                            Speakable
                        </div>
                        <p class="info">
                            Speakable is a user-friendly web application in which a Deaf person can record their signs,
                           hand gestures, name them and it will convert them to Sound.
                        </p>
                        <button class="live"><a href="https://speakableai.netlify.app/" target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/Speakable" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card five">
                    <div class="box">
                        <p class="emoji">&#128515</p>
                        <div class="text">
                            Wiki_moji
                        </div>
                        <p class="info">
                            A place where you can find meaning of emojis.
                        </p>
                        <button class="live"><a href="http://wiki-moji.netlify.app/" target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/wiki_moji" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card six">
                    <div class="box">
                        <i class="fas fa-dice-three"></i>
                        <div class="text">
                            Tic Tac Toe
                        </div>
                        <p class="info">
                            This is a simple tic-tac-toe game created using react.
                        </p>
                        <button class="live"><a href="https://tic-tac-toe-mygame.netlify.app/"
                                target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/tic-tac-toe" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card seven">
                    <div class="box">
                        <i class="fas fa-chess-king"></i>
                        <div class="text">
                            Bahubali Quiz
                        </div>
                        <p class="info">
                            This is a small fun quiz app created for the Bahubali lovers.
                        </p>
                        <p class="Bahubali"> JAI MAHISMATI! </p>
                        <button class="live"><a href="https://repl.it/@AagamJain113/Quiz?embed=1&output=1"
                                target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/Bahubali-quiz" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>
                <div class="card eight">
                    <div class="box">
                        <i class="fas fa-user"></i>
                        <div class="text">
                            How well u know me ?
                        </div>
                        <p class="info">
                            A small quiz to know your love towards me by answering these questions.
                        </p>
                        <button class="live"><a href="https://repl.it/@AagamJain113/Ex-1415?embed=1&output=1"
                                target="blank">Live</a></button>
                        <a href="https://github.com/Aagam-Jain-113/how-much-u-know-me" target="blank"><i
                                class="fab fa-github git"></i></a>
                    </div>
                </div>               
                <div class="card nine">
                    <div class="box">
                        <div class="text">
                            More Projects coming soon <i class="fas fa-stopwatch watch">...</i>
                        </div>
                        <p class="info" style="text-align: center;">
                            <a href="../index.html"> <i class="fa fa-home home"></i> Back to Home</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>