@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  cursor: none;
  scroll-behavior: smooth;
}

.mainCursor {
  z-index: 999;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #555;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  mix-blend-mode: difference;
}

.secondaryCursor {
  z-index: 999;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background: #000;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
  position: fixed;
}
